.btn-container{
  display: flex;
  justify-content: center;
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 4.3em;
  color: rgb(72, 197, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;

}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}


@media(max-width: 500px){
  .ml6{
    font-size: 2.3rem;
  }
}